.App{
  margin: 0;
  display: flex;
  padding: 0;
  height: 100vh;
  width: 100vw;
}



.Login{
  display: flex;
  margin: auto;
  padding: 20px;
  width: 340px;
  height: auto;
  background-color: aquamarine;
  border: 1px black;

  border-radius: 17px;
background: #e0e0e0;
box-shadow:  -7px -7px 14px #bebebe,
             7px 7px 14px #ffffff;
  
}

.Login form{
  
  width: 100%;
}


.Home{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.Main{
  display: flex;
  
  width: 100vw;
  height: calc(100vh - 56px);
}
.containerTable{
  width: 60vw;
  margin: auto;
  
  
}

@media (max-width : 1024px) {
  .containerTable{
  overflow-x: scroll;
  }
}
.botones{
  display: flex;
  
  justify-content: flex-end;
}


.botonEliminar{
  display: flex;
margin-right: 5px;

}
.botonEditar{
  display: flex;
margin-right: 5px;

}


.invalido
{
  color: red;
}
.noShow{
  display: none;
}